# Standard PyTorch stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info/
dist/
build/
*.egg
*.whl
*.tar.gz
*.zip
*.npy
*.npz
*.pt
*.pth
*.onnx
*.ckpt
*.ply
*.npz
**/data/
**/data copy/
*.log
*.pt
*.pth
*.ckpt
*.h5
*.model
*.safetensors
__pycache__/
*.py[cod]
*$py.class
*.ckpt
.env.personal
20250212_231520/mav0/imu0.csv
20250212_231520/mav0/trajectory.txt
Drone_Calibration/mav0/imu0.csv
Drone_Calibration/mav0/trajectory.txt
**/__MACOSX/
