services:
  rabbitmq:
    image: rabbitmq:3.12-management
    ports:
      - "5672:5672"
      - "15672:15672"
    # management UI at :15672

  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server

  website:
    image: website:latest
    build:
      context: ./website
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    container_name: website
    volumes:
      - ${WORKSPACE}/website:/app
      - /app/node_modules
    environment:
      VITE_API_URL: "http://134.117.167.139/api"
      VITE_WS_HOST: "134.117.167.139"
      NODE_ENV: "development"
    depends_on:
      - rabbitmq
      - server


  server:
    image: server:latest
    build:
      context: ./server
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ${WORKSPACE}/server:/app
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - VIDEO_FRAMES_EXCHANGE=video_frames_exchange
      - IMU_DATA_EXCHANGE=imu_data_exchange
      - PROCESSED_FRAMES_EXCHANGE=processed_frames_exchange
      - ANALYSIS_MODE_EXCHANGE=analysis_mode_exchange
      - RESTART_EXCHANGE=restart_exchange
    ports:
      - "5001:5001"
    depends_on:
      - rabbitmq

  frame_processor:
    build: ./frame_processor
    image: frame_processor:latest
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - VIDEO_FRAMES_EXCHANGE=video_frames_exchange
      - IMU_DATA_EXCHANGE=imu_data_exchange
      - PROCESSED_FRAMES_EXCHANGE=processed_frames_exchange
      - ANALYSIS_MODE_EXCHANGE=analysis_mode_exchange
    volumes:
      - ${WORKSPACE}/frame_processor:/app
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    depends_on:
      - rabbitmq
    # This container does YOLO analysis only

  reconstruction:
    image: reconstruction:latest
    build:
      context: ./reconstruction
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ${WORKSPACE}/reconstruction:/app
      - ${WORKSPACE}/Drone_Camera_Imu_Config/drone_config.yaml:/app/drone_config.yaml
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    runtime: nvidia
    ports:
      - "8001:8001"
      - "5678:5678"  # Add this port for debugpy
    environment:
      CUDA_PATH: ${CUDA_PATH}
      LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT}
      DISPLAY: ${DISPLAY}
      HOME: ${HOME}
      PYTHONUNBUFFERED: 1  # Ensures Python output is sent straight to the terminal
      RABBITMQ_URL: amqp://rabbitmq
      VIDEO_FRAMES_EXCHANGE: video_frames_exchange
      TRAJECTORY_DATA_EXCHANGE: trajectory_data_exchange
      PLY_FANOUT_EXCHANGE: ply_fanout_exchange
      RESTART_EXCHANGE: restart_exchange
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    depends_on:
      - rabbitmq

  slam:
    image: slam:latest
    privileged: true
    build:
      context: ./slam
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    container_name: slam
    runtime: nvidia
    volumes:
      - ${WORKSPACE}/slam:/app
      - ${WORKSPACE}/Drone_Camera_Imu_Config/drone_config.yaml:/app/drone_config.yaml
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    shm_size: 4gb
    environment:
      CUDA_PATH: ${CUDA_PATH}
      LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT}
      DISPLAY: ${DISPLAY}
      HOME: ${HOME}
      RABBITMQ_URL: amqp://rabbitmq
      SLAM_MODE: mono_inertial
      VIDEO_FRAMES_EXCHANGE: video_frames_exchange
      IMU_DATA_EXCHANGE: imu_data_exchange
      PROCESSED_IMU_EXCHANGE: processed_imu_exchange
      TRAJECTORY_DATA_EXCHANGE: trajectory_data_exchange
      RESTART_EXCHANGE: restart_exchange
    depends_on:
      - rabbitmq
    ports:
      - "8000:8000"

  data_storage:
    image: data_storage:latest
    build: ./storage
    volumes:
      - ${WORKSPACE}/storage:/app
      - ${WORKSPACE}/data:/data
    environment:
      RABBITMQ_URL: amqp://rabbitmq
      VIDEO_FRAMES_EXCHANGE: video_frames_exchange
      IMU_DATA_EXCHANGE: imu_data_exchange
      TRAJECTORY_DATA_EXCHANGE: trajectory_data_exchange
      PLY_FANOUT_EXCHANGE: ply_fanout_exchange
      RESTART_EXCHANGE: restart_exchange
      PROCESSED_IMU_EXCHANGE: processed_imu_exchange
    depends_on:
      - rabbitmq
    ports:
      - "8002:8002"

  # simulator:
  #   build: ./simulation  # or point to a Dockerfile that includes your simulation script
  #   image: simulator:latest
  #   volumes:
  #     - ${WORKSPACE}/data:/data  # mount the data folder so the script can access recorded data
  #   environment:
  #     - RABBITMQ_URL=amqp://rabbitmq
  #     - VIDEO_FRAMES_EXCHANGE=video_frames_exchange
  #     - IMU_DATA_EXCHANGE=imu_data_exchange
  #     - TRAJECTORY_DATA_EXCHANGE=trajectory_data_exchange
  #     - PLY_FANOUT_EXCHANGE=ply_fanout_exchange
  #   depends_on:
  #     - rabbitmq


  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    depends_on:
      - cadvisor
    networks:
      - default

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - default

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.0
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
    networks:
      - default
    deploy:
      resources:
        reservations:
          cpus: '0.2'

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    environment:
      COLLECTOR_OTLP_ENABLED: "true"       # Enable OTLP ingestion
      COLLECTOR_OTLP_HTTP_HOST_PORT: ":4318"
    ports:
      - "16686:16686"    # Jaeger UI
      - "6831/udp"       # Legacy agent port
      - "6832/udp"
      - "14268:14268"
      - "4318:4318"      # OTLP endpoint
    networks:
      - default

  nvidia-dcgm-exporter:
    image: nvidia/dcgm-exporter:4.0.0-4.0.1-ubuntu22.04
    container_name: nvidia-dcgm-exporter
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - /var/run/nvidia-persistenced/socket:/var/run/nvidia-persistenced/socket
    ports:
      - "9400:9400"
    command: [
      "--collectors",
      "gpu",
      "--address=:9400",
      "--no-analytics"
    ]
    networks:
      - default

networks:
  default:
    driver: bridge

volumes:
  grafana-data:
