version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3.12-management
    ports:
      - "5672:5672"
      - "15672:15672"
  nginx:
    build: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - server
  website:
    image: website:latest
    build:
      context: ./website
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    container_name: website
    volumes:
      - ${WORKSPACE}/website:/app
      - /app/node_modules
    environment:
      VITE_API_URL: "http://134.117.167.139/api"
      VITE_WS_HOST: "134.117.167.139"
      NODE_ENV: "development"
    depends_on:
      - rabbitmq
    tty: true
    stdin_open: true

  server:
    image: server:latest
    build:
      context: ./server
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ${WORKSPACE}/server:/app
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    environment:
      - RABBITMQ_URL=amqp://rabbitmq
      - NVIDIA_VISIBLE_DEVICES=all
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ports:
      - "5001:5001"
    depends_on:
      - rabbitmq
    tty: true
    stdin_open: true
    shm_size: 8gb

  # fantasy:
  #   image: fantasy:latest
  #   build:
  #     context: ./fantasy
  #     args:
  #       USERNAME: ${USERNAME}
  #       UID: ${UID}
  #       GID: ${GID}
  #   volumes:
  #     - ${WORKSPACE}/fantasy:/app
  #     - ${X11SOCKET}:${X11SOCKET}
  #     - ${XAUTHORITY}:${XAUTHORITY}
  #   runtime: nvidia
  #   environment:
  #     RABBITMQ_URL: amqp://rabbitmq
  #     CUDA_PATH: ${CUDA_PATH}
  #     LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT}
  #     DISPLAY: ${DISPLAY}
  #     HOME: ${HOME}
  #   deploy:
  #     resources:
  #       reservations:
  #         devices:
  #           - driver: nvidia
  #             count: all
  #             capabilities: [gpu]
  #   depends_on:
  #     - rabbitmq
  #   tty: true
  #   stdin_open: true
  #   shm_size: 4gb

  reconstruction:
    image: reconstruction:latest
    build:
      context: ./reconstruction
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ${WORKSPACE}/reconstruction:/app
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    runtime: nvidia
    environment:
      CUDA_PATH: ${CUDA_PATH}
      LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT}
      DISPLAY: ${DISPLAY}
      HOME: ${HOME}
      RABBITMQ_URL: amqp://rabbitmq
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    depends_on:
      - rabbitmq
    tty: true
    stdin_open: true
    shm_size: 8gb

  slam:
    image: slam:latest
    privileged: true
    build:
      context: ./slam
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    container_name: slam
    runtime: nvidia
    volumes:
      - ${WORKSPACE}/slam:/app
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    shm_size: 4gb
    environment:
      CUDA_PATH: ${CUDA_PATH}
      LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT}
      DISPLAY: ${DISPLAY}
      HOME: ${HOME}
      RABBITMQ_URL: amqp://rabbitmq
      SLAM_MODE: mono
    depends_on:
      - rabbitmq
    tty: true
    stdin_open: true

  data_storage:
    image: data_storage:latest
    build: ./storage
    volumes:
      - ${WORKSPACE}/storage:/app
      - ${WORKSPACE}/data:/data
    environment:
      RABBITMQ_URL: amqp://rabbitmq
    depends_on:
      - rabbitmq
