ultralytics
numpy
opencv-python-headless
pika
ntplib
rerun-sdk==0.23.2
prometheus_client
torch
torchvision
torchaudio
python-dotenv
google-cloud-storage
google-api-python-client
google-search-results
pillow
requests
scipy
scikit-image