version: '3.8'

services:
  test_container:
    image: test_container:latest
    build:
      context: .
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
        HOME: ${HOME}
    container_name: test_container
    runtime: nvidia
    volumes:
      - ${WORKSPACE}:/app
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    network_mode: host 
      
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ulimits:
      memlock: -1
      stack: 134217728
    ipc: host
    environment:
      CUDA_PATH: ${CUDA_PATH}
      LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT}
      DISPLAY: ${DISPLAY}
      HOME: ${HOME}
      RERUN_VIEWER_ADDRESS: "0.0.0.0:9090"   
      RERUN_CONNECT_URL: "rerun+http://127.0.0.1:9876/proxy"
    tty: true
    stdin_open: true