services:
  slam:
    image: slam:latest
    privileged: true
    build:
      context: .
      args:
        USERNAME: ${USERNAME}
        UID: ${UID}
        GID: ${GID}
    container_name: slam
    runtime: nvidia
    volumes:
      - ${WORKSPACE}:/app
      - ${X11SOCKET}:${X11SOCKET}
      - ${XAUTHORITY}:${XAUTHORITY}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ulimits:
      memlock: -1
      stack: 134217728
    ipc: host
    network_mode: host
    environment:
      CUDA_PATH: ${CUDA_PATH}
      LIBGL_ALWAYS_INDIRECT: ${LIBGL_ALWAYS_INDIRECT}
      DISPLAY: ${DISPLAY}
      HOME: ${HOME}
    tty: true
    stdin_open: true
