# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env*
!.env.example
public/models/Keyboard/license.txt
public/models/Keyboard/scene.bin
public/models/Keyboard/scene.gltf
public/models/Keyboard/textures/DefaultMaterial_baseColor.png
public/models/Keyboard/textures/DefaultMaterial_emissive.png
public/models/Keyboard/textures/DefaultMaterial_metallicRoughness.png
public/models/Keyboard/license.txt
public/models/Keyboard/scene.bin
public/models/Keyboard/scene.gltf
public/models/Keyboard/textures/DefaultMaterial_baseColor.png
public/models/Keyboard/textures/DefaultMaterial_emissive.png
public/models/Keyboard/textures/DefaultMaterial_metallicRoughness.png
